<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/css/output.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.tailwindcss.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen w-full px-10">
    <!-- navbar -->

    <nav class="w-full dark:bg-white-900">
      <div
        class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static '/logo/logo.png' %}" class="h-[100px]" alt="" />
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <a
            href="/register"
            class="text-sm text-custom-green bg-white text-outline px-8 py-2 rounded-md border border-green-400 dark:text-blue-500"
            >Register</a
          >
        </div>
      </div>
    </nav>

    <div class="flex justify-between">
      <div
        class="w-[55%] h-50 ml-[-90px] rounded-lg items-center justify-center self-center"
      >
        <div class="p-10 bg-custom-green rounded-lg ml-10">
          <div class="mb-5">
            <h2 class="text-white text-3xl font-bold">Welcome</h2>
            <h3 class="text-white text-xl font-bold">
              to the Edutend platform!
            </h3>
          </div>
          <form method="POST">
            {% csrf_token %} {% if messages %}
            <div class="mb-4">
              {% for message in messages %}
              <div
                class="text-{% if 'error' in message.tags %}red{% elif 'success' in message.tags %}green{% else %}black{% endif %}-500"
              >
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="mb-4">
              <label for="email" class="block text-white">Email</label>
              <input
                type="email"
                name="email"
                placeholder="Email"
                id="email"
                class="w-full p-2 border rounded"
                required
              />
            </div>
            <div class="mb-4">
              <label for="password" class="block text-white">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Password"
                id="password"
                class="w-full p-2 border rounded"
                required
              />
            </div>
            <div class="text-center">
              <button
                type="submit"
                style="background-color: #5e7f70"
                class="text-white px-4 py-2 rounded"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="hidden lg:block relative mx-auto">
        <img
          src="{% static '/logo/bg-wanita.png' %}"
          alt=""
          class="h-min-screen"
        />
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
      <h1 class="text-xl font-bold mb-4">Login</h1>
      <form method="POST">
        {% csrf_token %} {% if messages %}
        <div class="mb-4">
          {% for message in messages %}
          <div
            class="text-{% if 'error' in message.tags %}red{% elif 'success' in message.tags %}green{% else %}black{% endif %}-500"
          >
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="mb-4">
          <label for="email" class="block text-white">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="w-full p-2 border rounded"
            required
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block text-white">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="w-full p-2 border rounded"
            required
          />
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Login
        </button>
      </form>
      <p class="mt-4 text-white">
        Belum punya akun?
        <a href="{% url 'register' %}" class="text-blue-500">Daftar</a>
      </p>
    </div>
  </body>
</html> -->
