<div class="bg-gray-800 text-white w-64 p-6">
    <h1 class="text-2xl font-bold mb-4">Menu</h1>
    <nav>
        <ul>
            <li>
                <a href="/" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'profile' %}" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Profile
                </a>
            </li>
            <li>
                <a href="{% url 'manage_attendance_guru' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Absensi Guru</a>
            </li>   
            {% if user.role == "Tata Usaha" or user.role == "Kepala Sekolah" %}
            <li>
                <a href="{% url 'manage_classes' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Kelola Kelas</a>
            </li>
            <li>
                <a href="{% url 'manage_lessons' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Kelola Mapel</a>
            </li>
            <li>
                <a href="{% url 'manage_guru' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Kelola Guru</a>
            </li>    
            <li>
                <a href="{% url 'manage_students' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Kelola Siswa</a>
            </li>          
            {% endif %}
        </ul>
    </nav>
</div>
