{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Kelola Kelas</h1>
{% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="text-{% if 'error' in message.tags %}red{% elif 'success' in message.tags %}green{% else %}black{% endif %}-500">{{ message }}</div>
                {% endfor %}
            </div>
{% endif %}
<a href="{% url 'add_class' %}" class="bg-blue-500 text-white px-4 py-2 rounded mb-4 inline-block">Tambah Kelas</a>
<table class="table-auto w-full bg-white shadow rounded">
    <thead>
        <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">Nama Kelas</th>
            <th class="px-4 py-2">Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for kelas in classes %}
        <tr>
            <td class="border px-4 py-2">{{ forloop.counter }}</td>
            <td class="border px-4 py-2">{{ kelas.nama_kelas }}</td>
            <td class="px-4 py-2 text-center">
                <!-- Tombol Edit -->
                <a href="{% url 'edit_class' kelas.id %}" 
                   class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 inline-block">
                    Edit
                </a>
                <!-- Tombol Hapus -->
                <form action="{% url 'delete_class' kelas.id %}" method="post" class="inline" id="delete-form-{{ kelas.id }}">
                    {% csrf_token %}
                    <button type="button" class="bg-red-500 text-white py-1 px-4 rounded hover:bg-red-600" onclick="confirmDelete({{ kelas.id }})">Hapus</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center py-4">Tidak ada data kelas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete(classId) {
        // Tampilkan konfirmasi sebelum menghapus kelas
        const isConfirmed = confirm('Jika Anda menghapus kelas ini, maka semua data yang terkait dengan kelas ini (termasuk murid, jadwal, kehadiran, dll) akan dihapus. Apakah Anda yakin?');
        
        if (isConfirmed) {
            // Jika user mengonfirmasi, submit form penghapusan
            document.getElementById('delete-form-' + classId).submit();
        }
    }
</script>

{% endblock %}
